

.icon-uniE604{
	background: #FFF;
	color: #88bee1;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	font-size: 2em;
	margin-left:1em;
	}

.icon-facebook{
	background: #FFF;
	color: #6d85b4;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	font-size: 2em;
	margin-left:1em;
}
.icon-twitter{
	background: #FFF;
	color: #88bee1;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	font-size: 2em;
	margin-left:1em;
}



#search {
	background-color: #e5e6e6;
	border: 0 none;
	color: #888;
	display: inline;
	position: absolute;
	right: 0.1em;
	top: 4.5em;
	font: bold 12px Arial, Helvetica, Sans-serif;
	padding: 12px 2px 12px 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 4px 4px 5px #d7d8d8 inset;
	-moz-box-shadow: 4px 4px 5px #d7d8d8 inset;
	box-shadow: 4px 4px 5px #d7d8d8 inset;
}

#search label[for="search"] {
	display: none;
}

#search input[type="text"] {
	background-color: #e5e6e6;
	border-style: none;
	height: 1em;
	width: 15em;
}

section {
	border: 4px 0 0 0;
	margin-left: 12%;
	max-width: 1020px;
	overflow: hidden;
}

section h2 {
	font-style: bold;
	font-size: 2em;
}

section aside {
	padding: 0em 1.6em 0.5em 3em;
	float: left;
	margin-bottom: 2em;
	width: 18em;
}

section aside a {
	background: #333;
	color: #FFF;
	display: block;
	font-size: 1.5em;
	padding: 0.8em 1em;
	text-decoration: none;
}

section aside div {
	font-size: 2em;
	text-align: right;
}

section aside p.derecha {
	text-align: left;
}

section content {
	color: #333;
	display: block;
	margin: auto;

}

section content ul {
	color: #0066cc;
}


@media ( max-width : 670px) {
	header h1 {font-size 0.8em;
		padding: 0.8em 1em 0em 1em;
	}
	section aside {
		display: none;
	}
	nav ul {
		margin: 0
	}
	nav ul li a {
		font-size: 0.8em;
		padding: 0.3em 0.5em;
	}
	section content {
		padding-left: 0;
	}
	section content div {
		display: none;
	}
}

/*Changes Juan Mora*/

SECTION.container
{
	width: 1200px;
}
SECTION.containerDetail
{
	width: 1200px;
	margin-left: 0%;
}


SECTION#BlogHeader DIV
{
	float: left;
	padding-right: 10px;
}
DIV.button
{
	width: 150px;
	height: 50px;
	text-align: center;
	background-image:url('../images/BlogButton.gif');
	background-repeat:no-repeat;
	padding-top: 10px;
	font-family: Century Gothic;
	font-weight: bold;
	color: #FFF;
	margin-top: -15px;
}

DIV.search > INPUT
{
	border: 0;
	padding: 0;
	margin: 0;
	background: transparent;
}


DIV.dropdown SELECT
{
	background: transparent;
	border: 0 none;
    width: 120%;
}

DIV.dropdown
{
	background:url('../images/SelectOption.gif') no-repeat;
	width: 255px;
	height: 40px;
	font-family: Century Gothic;
	padding-top: 10px;
	margin-top: -10px;
	padding-left: 10px;
	overflow: hidden;
	margin-right: 10px;
}

SECTION.BlogPostPreview
{
	margin: 0;
	margin-top: -20px;
}
.BlogPostDetails
{
	margin-top: -20px;
}
.BlogPostDetails  > SPAN
{
	font-style: italic;
}
.BlogPostTags  > SPAN
{
	font-weight: bold;
}


.BlogPostDetails  > A
{
	font-weight: bold;
}

DIV.BlogPostPreview
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}

DIV.BlogPost
{
	margin-bottom: 20px;

}

DIV.readMore
{
	color: #329f2f;
	font-weight: bold;
	float: right;
}
DIV.returnLink
{
	color: #329f2f;
	font-weight: bold;
}

HR
{
	color: #329f2f;
	background-color: #329f2f;
	height: 2px;
}

SECTION.BlogPagination
{
	padding-left: 20%;
}


























section.container {
    margin: 0 auto;
    padding-left: 4em;
    width: 60em;
}
SECTION.container
{
	margin-bottom: 20px;
}
SECTION.containerDetail
{
	margin-bottom: 20px;
	margin-left: 0%;
}


SECTION#BlogHeader DIV
{
	float: left;
	padding-right: 10px;
}
DIV.button
{
	width: 150px;
	height: 50px;
	text-align: center;
	background-image:url('../images/BlogButton.gif');
	background-repeat:no-repeat;
	padding-top: 10px;
	font-family: Century Gothic;
	font-weight: bold;
	color: #FFF;
	margin-top: -15px;
}


DIV.dropdown SELECT
{
	background: transparent;
	border: 0 none;
    width: 120%;
}

DIV.dropdown
{
	background:url('../images/SelectOption.gif') no-repeat;
	width: 255px;
	height: 40px;
	font-family: Century Gothic;
	padding-top: 10px;
	margin-top: -10px;
	padding-left: 10px;
	overflow: hidden;
	margin-right: 10px;
}

SECTION.BlogPostPreview
{
	margin: 0;
	margin-top: -20px;
}
.BlogPostDetails
{
	margin-top: -20px;
}
.BlogPostDetails  > SPAN
{
	font-style: italic;
}
.BlogPostTags  > SPAN
{
	font-weight: bold;
}


.BlogPostDetails  > A
{
	font-weight: bold;
}

DIV.BlogPostPreview
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}

DIV.BlogPost
{
	margin-bottom: 20px;

}

DIV.readMore
{
	color: #329f2f;
	font-weight: bold;
	float: right;
}
DIV.returnLink
{
	color: #329f2f;
	font-weight: bold;
}

HR
{
	color: #329f2f;
	background-color: #329f2f;
	height: 2px;
}

SECTION.BlogPagination
{
	padding-left: 20%;
}

SECTION.BlogPagination DIV.buttonText
{
          
	color: #ffffff;
	border: solid 1px #5bb318;
	border-radius: 10px;
	background: #afd65e;
	box-shadow: 1px 1px 1px , inset 0 4px 5px; 
	height: 29px;
	text-align: center;
	font-family: Century Gothic;
	font-weight: bold;
	color: #FFF;
	float: left;
    padding-left: 10px; 
    padding-right: 10px;
    padding-top: 10px;
	margin-left: 10px;
}

section aside#address
{
	background-image: url("../images/address.png");
	width: 30em;
	height: 15em;
}







#BlogHeader DIV.search
{
	background-image:url('../images/SearchBox.gif');
	background-repeat:no-repeat;
	width: 216px;
	height: 40px;
	padding-top: 10px;
	font-family: Century Gothic;
	margin-top: -10px;
	padding-left: 10px;
	font-style: italic;
}

@media (max-width: 700px) {
  section#BlogHeader {
    display: none;
  }
  section
  {
	margin-left: 0px;
	max-width: 380px;
  }
  section.container{ padding-left: 0; }
  SECTION.BlogPagination DIV.buttonText
  {
	float: none;
  }
  
  SECTION.containerDetail
  {
  width: 100%;
  }
}


/* Changes Jhoan Sanchez */
body {
	background-color: #faf7e4;
	margin-left:  15em;
	margin-right: 10em;
}

canvas{
	background-color: #46a837;
	width: 100%;
	height: 5px; 
}

h1{ 
	font-family: 'Century Gothic';
	font-size: 26px;
	font-weight: bold;
}

h2{ 
	font-family: 'Century Gothic';
	font-size: 24px;
	font-weight: bold;
}

h3{ 
	font-family: 'Century Gothic';
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

a{ 
	font-style: normal;
	color:#329f2f;
}

img{ 
	margin-right: 0.5em;
	float: left;
}

section{ 
	font-family: 'Century Gothic';
	font-size: 16px;
}
/* Fin Styles*/