<div class="footer-menu">
	<ul>
		<li><a href="#" title="Go to Our Team page">Our Team</a></li>
		<li><a href="#" title="Go to Technologies page">Technologies</a></li>
		<li><a href="#" title="Go to Blog page">Blog</a></li>
		<li><a href="#" title="Go to About Us page">About Us</a></li>
		<li><a href="#" title="Go to Contact Us page">Contact Us</a></li>
	</ul>
</div>
<div class="social-media">
	<ul>
		<li class="facebook"><a href="#">Facebook</a></li>
		<li class="twitter"><a href="#">Twitter</a></li>
		<li class="linkedin"><a href="#">Linkedin</a></li>
	</ul>
	<div class="rigth-reserved">&copy; 2014 All Rigths Reserved</div>
</div>