<div class="page-sizer">
	<div class="footer-menu">
		<ul>
			<li><a href="OutTeam.html" title="Go to Our Team page">Our Team</a></li>
			<li><a href="technologies.html" title="Go to Technologies page">Technologies</a></li>
			<li><a href="blog.html" title="Go to Blog page">Blog</a></li>
			<li><a href="AboutUs.html" title="Go to About Us page">About Us</a></li>
			<li><a href="ContactUs.html" title="Go to Contact Us page">Contact Us</a></li>
		</ul>
	</div>
	<div class="social-media">
		<ul>
			<li ><a class="facebook" href="#">Facebook</a></li>
			<li ><a class="twitter" href="#">Twitter</a></li>
			<li ><a class="linkedin" href="#">Linkedin</a></li>
		</ul>
		<div class="rigth-reserved">&copy; 2014 All Rigths Reserved</div>
	</div>
</div>