<div class="page-sizer">
	<div class="logo">
		<h1><a href="#">Caniatech C.A</a></h1>
	</div>
	<div class="left-side">
		<div class="language-menu">
			<a href="#">EN</a>
			<a href="#">ES</a>
		</div>
		<div class="search">
			<form action="search.html" method="post">
				<input type="text" name="search-field" id="search-field" value="Search..." onblur="if (this.value == '') {this.value ='Search...';};" onfocus="if (this.value == 'Search...') {this.value = '';} ;"/>
				<input type="submit" name="search-button" id="search-button" value="" class="search-submit" />
			</form>
		</div>
		<nav>
			<ul>
				<li><a href="OurTeam.html" title="Go to Our Team page">Our Team</a></li>
				<li><a href="technologies.html" title="Go to Technologies page">Technologies</a></li>
				<li><a href="blog.html" title="Go to Blog page">Blog</a></li>
				<li><a href="AboutUs.html" title="Go to About Us page">About Us</a></li>
				<li><a href="ContactUs.html" title="Go to Contact Us page">Contact Us</a></li>
			</ul>
		</nav>
	</div>
</div>
<hr/>	
